 <!------------------------------- Sidebar ------------------------------->
 <div class="sidebar">
    <center>
        <div style="font-size: 45px; font-weight: 500;color: #f7a317;padding-top: 30px;"><span
                style="font-weight: 500;color: #6bb5ff">E-</span>EXAMS</div>
        <p style="margin-top: -5px;color: white;">ระบบจัดการการสอบ</p>
    </center>
    <div class="uk-card  uk-card-body ">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li><a href="/home"><span class="uk-margin-small-right" uk-icon="icon: table"></span>หน้าหลัก</a></li>

            <li class="uk-nav-divider"></li>

            <li class="uk-nav-header">บุคลากร/นิสิต</li>
            <li><a href="/student"><span class="uk-margin-small-right" uk-icon="icon: users"></span>จัดการนิสิต</a></li>
            <li><a href="/teacher"><span class="uk-margin-small-right" uk-icon="icon: users"></span>จัดการอาจารย์</a></li>
            <li><a href="/staff"><span class="uk-margin-small-right" uk-icon="icon: users"></span>จัดการเจ้าหน้าที่</a></li>

            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">สถานที่</li>
            <li><a href="/building"><span class="uk-margin-small-right" uk-icon="icon: location"></span>จัดการห้อง</a></li>
            
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">วิชาการ</li>
            <li><a href="/year"><span class="uk-margin-small-right" uk-icon="icon: list"></span>จัดการปีการศึกษา</a>
            </li>
            <li><a href="/course"><span class="uk-margin-small-right" uk-icon="icon: list"></span>จัดการวิชาที่เปิดสอน</a>
            </li>
            <li><a href="/exam"><span class="uk-margin-small-right" uk-icon="icon: list"></span>จัดการการสอบ</a>
            </li>
        </ul>
    </div>
</div>
<!------------------------------- Sidebar ------------------------------->