.nav{
    top:0;
    margin-left: 300px;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1;
}


.nav .uk-navbar-container{
    background-image: url('/images/bg.png'); 
    background-size: cover;
    background-position: center;
}
