<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Exams: เพิ่มข้อมูลเจ้าหน้าที่</title>

<link rel="icon" href="/images/favicon.ico" sizes="16x16">
<link rel="stylesheet" href="/uikit/css/uikit.min.css" />
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<link rel="stylesheet" type="text/css" href="/css/nav.css">
<link rel="stylesheet" type="text/css" href="/css/content.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body> 
    <%- include('../layouts/sidebar') %>;
    <%- include('../layouts/topbar') %>;


<div class="content">
    <h3 class="uk-heading-line uk-text-center"><span>เพิ่มข้อมูลเจ้าหน้าที่</span></h3>

    <div style="display: flex; justify-content: center">
        <div style="min-width: 500px;">
            <form class="uk-form-stacked" method="post" action="/staff/addStaff/submit">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">ชื่อ</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="firstname">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">นามสกุล</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text"  name="lastname">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">ที่อยู่</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text"  name="address">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">เบอร์โทรศัพท์</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text"  name="phone" maxlength="10">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">อีเมล</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text"  name="email">
                    </div>
                </div>

                <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">ตำแหน่ง</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="text" name="position">
                        </div>
                    </div>

                <button class="uk-button uk-button-primary " style="width:100%;" type="submit">submit</button>


            </form>
        </div>
    </div>
</div>
</body>

</html>

<script src="/uikit/js/uikit.min.js"></script>
<script src="/uikit/js/uikit-icons.min.js"></script>